extends layout

block headscript
  meta(http-equiv="refresh" content="300")

block extranav
  nav.red.darken-2.center(style='margin-top: 100px')
    div(class='nav-wrapper')
      h5.white-text Workshop Feed

block content
  main(style="padding-top: 120px;")
    .container.center
      if submissions.length == 0
        .row.center
          h6.light(style='text-align:center') This workshop does not have any submissions yet.

      each item in submissions
        -item.data= JSON.parse(item.data)
        .row
          .col.s12.m10.offset-m1
            case item.data.type
              when 'futuresWheel'
                include futureswheel.pug
              when 'futuresWheelPresentation'
                include futureswheelpres.pug
              when 'threeHorizons'
                include threehorizons.pug
              when 'missingTrends'
                include missingtrends.pug
              when 'prioritization'
                include prioritization.pug
              when 'scenarios'
                include scenarios.pug
              when 'polak'
                include polak.pug


