extends layout

block headscript
  script.
    $(document).ready(function () {
        $( 'ul.droptrue' ).sortable({
          connectWith: 'ul',
          dropOnEmpty: true,
          start: function(e, ui){
            $('#sortable1').removeClass('error');
            $('#sortable .validation').addClass('hide');
          }
        });

        $( '#sortable1, #sortable2' ).disableSelection();

        $('input#title').change(function(){
            $('input#title').removeClass('error');          
            $('#workshop-title .validation').addClass('hide');          
        })

        $('#submit').click(function(){
          $('#submit').attr("disabled", "disabled");
          let error = false;
          let title = $('input#title').val();
          let location = $('input#location').val();
          //- let sortedIDs = $( "#sortable1" ).sortable( "toArray" );
          let sortedIDs = $("#sortable1 .ui-state-default").map(function() {        
              return {id: this.id, name: $(this).text()};        
          }).get();
          console.log(sortedIDs);

          if (!title) {
            $('#workshop-title .validation').removeClass('hide');
            $('input#title').addClass('error');          

            error = true;
          } else {
            $('#workshop-title .validation').addClass('hide');
            $('input#title').removeClass('error');          
          }

          if (!location) {
            $('#workshop-location .validation').removeClass('hide');
            $('input#location').addClass('error');          

            error = true;
          } else {
            $('#workshop-location .validation').addClass('hide');
            $('input#location').removeClass('error');          
          }

          if (sortedIDs.length == 0) {
            $('#sortable .validation').removeClass('hide');
            $('#sortable1').addClass('error');
            error = true;
          } else {
            $('#sortable .validation').addClass('hide');
            $('#sortable1').removeClass('error');
          }

          if (!error){
            let jqxhr = $.ajax({
              url: "/generate_workshop",
              method: 'POST',
              data: JSON.stringify({
                title: title,
                language: $('select#language').val(),
                location: location,
                tasks: sortedIDs
              }),
              contentType: 'application/json; charset=utf-8'
              })
            .done(function(data) {
              console.log( "success" );
              console.log( data );
              if (data.success == true){
                window.location = data.path;                
              } else {
                alert('Failed to create the workshop');
                $('#submit').removeAttr("disabled");
              }
            })
            .fail(function() {
              console.log( "error" );
              alert('Failed to create the workshop');
              $('#submit').removeAttr("disabled");
            })
            .always(function() {
              console.log( "complete" );
            });
          } else {
            $('#submit').removeAttr("disabled");
          }
        });
    });

block extranav
  nav.red.darken-2.center(style='margin-top: 100px')
    div(class='nav-wrapper')
      h5.white-text Form Builder

block content
  main(style="padding-top: 100px;")
    .container
      div(class="form-container")
        div(id='workshop-title' class='form-element')  
          div(class='label')
            div(class='title') Workshop Title
            div(class='description') Enter a title for the workshop 
            
          div 
            input(type='text' name='title' id='title')
            div(class='validation hide') Please enter a title 

        div(id='workshop-location' class='form-element')  
          div(class='label')
            div(class='title') Workshop Location
            div(class='description') Enter the workshop's location
            
          div 
            input(type='text' name='location' id='location')
            div(class='validation hide') Please enter a location 


        div(id='workshop-language' class='form-element')  
          div(class='label')
            div(class='title') Workshop Language
            div(class='description') Select the display language for the forms
          div 
            select(id='language')
              option(value='en') English
              option(value='fr') French
              option(value='es') Spanish
              option(value='ar') Arabic


        div(id='sortable')
          div(class='sortable-container')
            div(class='sortable-label')
              div 
                div(class='title') Workshop Tasks
                div(class='description') Drag and sort the tasks you want to include in the workshop here
            ul(id='sortable1' class='droptrue')
            div(class='validation hide') Please select at least one task

          div(class='sortable-container')
            div(class='sortable-label')
              div 
                div(class='title') Possible Tasks
                div(class='description') Select the tasks you want and drag them to the box on the left
            ul(id='sortable2' class='droptrue')
              each task in tasks
                li(class='ui-state-default draggable' id=task.form_id)= task.title

          br(style='clear:both')
          
        button.waves-effect.waves#submit Submit
  


