.card.big-card
  .card-container
    div(style="flex: 1; display: flex; flex-wrap: wrap; min-width: 250px; align-items: stretch; ")
      .futures-wheel-trends 
        h5 Futures Wheel
        h6 The trends that were discussed in (#{item.avatar})'s Futures Wheel are:

        .selected-trends
          if item.data.whattrends
            p(style='display: block')= item.data.whattrends
          if item.data.uncertaintrends2
            each val in item.data.uncertaintrends2
              p(style='display: block')= val

      if (item.data.takea)
        div.big-image.futures-wheel-img(style="background-image: url('" + item.data.takea + "');") 
  include cardfooter.pug