nav(class="navbar navbar-default")
  div(class="container")
    div(class="navbar-header")
      h1
        a(class="navbar-brand" href="http://ifrc-feedback.openlab.ncl.ac.uk/" title="Appointment")
        img(class="img-responsive" src="http://ifrc-feedback.openlab.ncl.ac.uk/wp-content/uploads/2018/03/IFRC_Logo_small.png" style="height:57px; width:100px;")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      div(class="")
        ul(class="nav navbar-nav navbar-right")
          li(class="current_page_item")
            a(href="http://ifrc-feedback.openlab.ncl.ac.uk/" title="Home") Home
          li(class="page_item page-item-2")
            a(href="http://ifrc-feedback.openlab.ncl.ac.uk/workshop-feed/") Workshop Feed
