extends layout



block content
  - var avatarPath = '';
  if (avatar && avatar.length > 0) 
    - avatarPath = 'avatar=' + avatar;
  main(style="padding-top: 50px;")
    .container.center
      if thankYou
        h5.green-text Thank you, your answers have been submitted.
      h4.red-text(style="text-transform: uppercase;")= title
      .row 
        h6.light At various points during the workshop you will be asked to complete forms summarising your tasks. Visit the specified link when asked.
      
      each task in tasks
        a.waves-effect.waves.task-button(href!='https://form.jotform.com/' + task.id+'?language='+language+'&workshopId='+workshopId+':'+workshopPath+'&'+avatarPath target='_blank')= task.name
     

  footer.page-footer.blue-grey.darken-3
    .container
      .section
        // Icon Section
        .row
          .col.s12.m6
            .icon-block
              h2.center.red-text.text-lighten-1
                i.material-icons phone_android
              h5.center Submit Feedback
              p.light
                | Use our online form to quickly share what you're doing in workshops with the IFRC. Use the form to take pictures and upload text describing activities and your answers to them.
          .col.s12.m6
            .icon-block
              h2.center.red-text.text-lighten-1
                i.material-icons visibility
              h5.center See What's Going On
              p.light
                | Head over to 
                a(href='/workshops/'+path+'/feed/') 'Workshop Feed' 
                | to see what's people are uploading in workshops as it happens. All of our pictures and messages are found here in one single stream.